<div class="container" id="categories-main-container">
    <div class="thumbnail-wrapper">
        <div align="center" class="categories-header">
            <p>Κλίκαρε σε ένα από τα εικονίδια</p>
        </div>
        <div ng-repeat="category in categories" class="category-thumbnails" align="center">
            <div class="thumbnail">
                <div ng-disabled="alreadyAnswered[$index]" ng-click="setCategory(category.slug, $index)"
                     ng-class="{'disabled': alreadyAnswered[$index]}">
                    <button class="category-btn" ng-disabled="alreadyAnswered[$index]"><img
                            ng-src="{{category.icon}}"/> <span
                            ng-show="alreadyAnswered[$index]" style="color: #32cd32">&#10004;</span></button>
                </div>
            </div>
            <div class="caption">
                <button class="category-btn" ng-disabled="alreadyAnswered[$index]"
                        ng-click="setCategory(category.slug, $index)">{{category.label}}
                </button>
            </div>
        </div>
    </div>
</div>
