<div id="finished-container" class="full-container">
<div class="finised-div" id="inner-container">
		<h3>Ευχαριστούμε για τη συμμετοχή σου.</h3>
     		<p>Κρατήσαμε την καλύτερή σου επίδοση από αυτή τη συμμετοχή σου. Ωστόσο, μπορείς να δοκιμάσεις να λάβεις μέρος από την αρχή!</p>
     		<a class='main-button' ng-click="logout()">Συνέχεια</a>
	</div>
</div>