<div id="gifts-page">
	<div class="gifts-content">
		<div class="gifts-title">ΔΩΡΑ ΝΙΚΗΤΩΝ</div>
		<div class="gifts-close" ng-click="backToMain()">
			<img src="../images/close.png"/>
		</div>
		<div class="gift-item gift-item-odd gift-item-1">
			<div class="gift-img"><img src="../images/gifts/1.jpg" /></div>
			<div class="gift-desk">1ος νικητής<br/>Samsung Galaxy tab s2 9.7 4g</div>
		</div>
		<div class="gift-item gift-item-even gift-item-2">
			<div class="gift-img"><img src="../images/gifts/2.jpg" /></div>
			<div class="gift-desk">2ος νικητής<br/>Apple ipad mini 3 4g</div>
		</div>
		<div class="gift-item gift-item-odd gift-item-3">
			<div class="gift-img"><img src="../images/gifts/3.jpg" /></div>
			<div class="gift-desk">3ος νικητής<br/>Sony Xperia Z3 compact 8.0 4g</div>
		</div>
		<div class="gift-item gift-item-even gift-item-4">
			<div class="gift-img"><img src="../images/gifts/4.jpg" /></div>
			<div class="gift-desk">4ος & 5ος νικητής<br/>Samsung galaxy A5</div>
		</div>
		<div class="gift-item gift-item-odd gift-item-5">
			<div class="gift-img"><img src="../images/gifts/5.jpg" /></div>
			<div class="gift-desk">6ος εώς 10ος νικητής<br/>FITBIT Activity tracker flex</div>
		</div>
		<div class="gift-item gift-item-even gift-item-6">
			<div class="gift-img"><img src="../images/gifts/5b.jpg" /></div>
			<div class="gift-desk">11ος εώς 15ος νικητής<br/>GARMIN Activity tracker vivofit2</div>
		</div>
		<div class="gift-item gift-item-odd gift-item-7">
			<div class="gift-img"><img src="../images/gifts/6.jpg" /></div>
			<div class="gift-desk">16ος εώς 30ος νικητής<br/>SFP 6060 SPORT CLIP<br/>(mp3, mpg4 player)</div>
		</div>
		<div class="gift-item gift-item-even gift-item-8">
			<div class="gift-img"><img src="../images/gifts/7.jpg" /></div>
			<div class="gift-desk">31ος εώς 45ος νικητής<br/>Power bank: INTENSO 10400mah</div>
		</div>
		<div class="gift-item gift-item-odd gift-item-9">
			<div class="gift-img"><img src="../images/gifts/8.jpg" /></div>
			<div class="gift-desk">46ος εώς 60ος νικητής<br/>Power bank: INTENSO 5200mah</div>
		</div>
		<div class="gift-item gift-item-even gift-item-10">
			<div class="gift-img"><img src="../images/gifts/9.jpg" /></div>
			<div class="gift-desk">61ος εώς 70ος νικητής<br/>Charger: YAT 202 Universal Travel USB</div>
		</div>
		<div class="gift-item gift-item-odd gift-item-11">
			<div class="gift-img"><img src="../images/gifts/10.jpg" /></div>
			<div class="gift-desk">71ος εώς 120ος νικητής<br/>COSMOTE - TEDDY BEARS</div>
		</div>
	</div>
</div>