<div id="home-container" class="full-container">
    <div class="home-inner">
        <div id="welcome-message">
            <h2>The Customer Care Quiz</h2>
            <p>
                <span class="first">Όταν φροντίζεις τους άλλους τόσο καλα,<br>αξίζεις δώρα φροντιδας!</span>
            <div class="second">Απάντησε σε <strong>4 ερωτήσεις</strong> για την <strong>Εξυπηρέτηση<br>Cosmote</strong>
                &amp; μπορεί να κερδίσεις μία ημέρα σε<br><strong>σπα</strong>
                ή ένα <strong>ταξίδι</strong> για 2.
            </div>
            </p>

            <input id="emailInput" type="text" placeholder="Συμπλήρωσε το e-mail σου" ng-model="indexForm.email"
                   ng-change="updateEmail()">

            <p>
                <input type="checkbox" id="agreeCheckbox" name="agreeCheckbox" ng-model="indexForm.acceptedTerms"><label
                    for="agreeCheckbox">Αποδέχομαι τους <a href="/#/terms">όρους χρήσης</a></label>
            </p>
            <a ng-click="formSubmit()" class="main-button" id="submit-button">Παίξε τώρα</a>
        </div>
        <!--<div class="left-artwork"><img src="../images/left.png" /></div>-->
        <!--<div class="right-artwork"><img src="../images/right.png" /></div>-->
    </div>
</div>
<div class="modal" ng-show="showErrorModal">
    <div class="modal-wrapper">
        <div class="close-button" ng-click="showErrorModal=false"><img src="../images/close.png"/></div>
        <div class="modal-content">
            <h3> Λανθασμένη εισαγωγή στοιχείων</h3>
            <div ng-show="indexForm.email=='' || !isCosmoteEmail(indexForm.email)">
                <p>Εισάγετε το εταιρικό σας email για να συνεχίσετε.</p>
            </div>
            <div ng-show="indexForm.acceptedTerms==false">
                <p>Αποδεχτείτε τους όρους χρήσης για να συνεχίσετε.</p>
            </div>
        </div>
    </div>
</div>
<div class="modal info-modal" ng-show="showInfoModal">
    <div class="modal-wrapper">
        <div class="close-button" ng-click="showInfoModal=false"><img src="../images/close.png"/></div>
        <div class="modal-content">
            <h3> Οδηγίες παιχνιδιού:</h3>
            <div>
                <p>Κλίκαρε σε 1 από τα 4 icons που συμβολίζουν τα Touch Points της Εξυπηρέτησης COSMOTE.</p>
                <p>Απάντησε στην ερώτηση που θα εμφανιστεί, μέσα σε 20".</p>
                <p>Κάνε το ίδιο και για τα 4 icons, απάντησε δηλαδή σε 4 ερωτήσεις &amp; μπες αυτόματα σε κλήρωση για
                    <a href="/#/gifts" target="_blank">δώρα</a> φροντίδας.
                </p>
            </div>
            <hr>
            <a ng-click="redirectToGame()" class="main-button" id="submit-button">Συνέχεια</a>
        </div>
    </div>
</div>