<div id="personalInfo-container" class="full-container">
    <div class="personalInfo-div" id="inner-container">
        <span>Συμπλήρωσε τα στοιχεία σου για να λάβεις μέρος στην κλήρωση.</span>
        <form id="personalInfos">
            <input name="firstname" type="text" placeholder="'Ονομα" ng-model="playerFirstName">
            <input name="lastname" type="text" placeholder="Επίθετο" ng-model="playerLastName">
            <input name="mobile" type="text" placeholder="Εταιρικό κινητό" ng-model="playerMobile">
            <input name="address" type="text" placeholder="Εταιρική Ταχυδρομική Διεύθυνση" ng-model="playerAddress">
            <input name="email" type="text" ng-model="playerEmail" disabled>
            <span ng-if="submitAgain" class="error-message">Κάποιο πρόβλημα προέκυψε. Παρακαλούμε δοκιμάστε να υποβάλετε τα στοιχεία σας λίγο πιο μετά.</span>
            <a ng-if="!submitAgain" ng-click="submitPersonalInfo()" class="main-button">Υποβολή</a>
            <a ng-if="submitAgain" ng-click="submitPersonalInfo()" class="main-button">Υποβολή Ξανα</a>
        </form>
    </div>
    <div class="modal" ng-show="showFinalErrorModal">
		<div class="modal-wrapper">
			<div class="close-button" ng-click="showFinalErrorModal=false"><img src="../images/close.png"/></div>
			<div class="modal-content">
				<h3>Λανθασμένη εισαγωγή στοιχέιων</h3>
				<ul>
					<li ng-show="playerFirstName==''">Παρακαλώ εισάγετε το όνομα σας.</li>
					<li ng-show="playerLastName==''">Παρακαλώ εισάγετε το επίθετο σας.</li>
					<li ng-show="playerMobile==''">Παρακαλώ εισάγετε το εταιρικό σας τηλέφωνο.</li>
                    <li ng-show="playerMobile!='' && notValidMobile(playerMobile)">Παρακαλώ εισάγετε ένα έγκυρο τηλέφωνο.</li>
					<li ng-show="playerAddress==''">Παρακαλώ εισάγετε την εταιρική σας διεύθυνση.</li>
				</ul>
			</div>
		</div>
    </div>
</div>