<div id="terms-page">
	<div class="terms-content">
		<div class="terms-title">ΟΡΟΙ ΔΙΑΓΩΝΙΣΜΟΥ</div>
		<div class="terms-close" ng-click="backToMain()">
			<img src="../images/close.png"/>
		</div>
		<div class="terms-body">
			<p>Ο ΟΤΕ και η COSMOTE μέσω της Διεύθυνσης Εταιρικής Επικοινωνίας του Ομίλου ΟΤΕ διοργανώνουν για τους εργαζομένους της OTE-COSMOTE-GERMANOS έναν εσωτερικό διαγωνισμό με τίτλο <b>«Quiz…»</b> (εφεξής ο Διαγωνισμός).</p>
			<p>Σκοπός των παρόντων όρων είναι ο καθορισμός των όρων συμμετοχής στο Διαγωνισμό, καθώς και των όρων κλήρωσης και ανάδειξης των νικητών.</p>
			<p><b><u>Διάρκεια:</u></b> Ο Διαγωνισμός θα διεξαχθεί από την <b>Παρασκευή 06/11/15 έως την Τρίτη 24/11/15 και ώρα 24:00</b> (εφεξής η <b>Διάρκεια</b>). Μετά την πάροδο της Διάρκειας δεν θα υπάρχει δυνατότητα συμμετοχής στο Διαγωνισμό. Η Διάρκεια του Διαγωνισμού μπορεί να τροποποιηθεί κατόπιν σχετικής ανακοίνωσης στο Mikrocosmo/Ulink.</p>
			<p><b><u>Όροι Συμμετοχής:</u></b> Οι όροι του Διαγωνισμού βρίσκονται στο link <a href="http://www.otegroup-internalcommunication.gr/#/terms">http://www.otegroup-internalcommunication.gr/#/terms</a>. Δικαίωμα συμμετοχής έχουν όλοι οι εργαζόμενοι OTE-COSMOTE-GERMANOS, εκτός από τους εργαζόμενους της Υποδ/νσης Εσωτερικής Επικοινωνίας της Διεύθυνσης Εταιρικής Επικοινωνίας Ομίλου ΟΤΕ.</p>
			<p><b>Για να συμμετέχει κάποιος στο Διαγωνισμό θα πρέπει να μπει στο link <a href="http://www.otegroup-internalcommunication.gr/#/">http://www.otegroup-internalcommunication.gr</a></b>, να λάβει μέρος στο ηλεκτρονικό παιχνίδι, να το ολοκληρώσει με επιτυχία και να καταχωρήσει όλα τα απαιτούμενα στοιχεία που του ζητούνται: Επώνυμο, Όνομα, εταιρικό email, κινητό τηλέφωνο, Ταχυδρομική Δ/νση εργασίας.</p>
			<p>Κάθε συμμετέχων μπορεί να λάβει μέρος στο Διαγωνισμό όσες φορές επιθυμεί, ωστόσο στην κλήρωση θα συμμετέχει μόνο μία φορά. Ο κάθε συμμετέχων καλείται να απαντήσει σε 10 ερωτήσεις πολλαπλών επιλογών, επιλέγοντας μία από τις τρεις προσφερόμενες απαντήσεις, και δεν μπορεί να προχωρήσει στην επόμενη ερώτηση αν δεν επιλέξει μία απάντηση. Για κάθε ερώτηση θα υπάρχει και χρόνος απάντησης 20 δευτερόλεπτα, που θα τα βλέπει ο συμμετέχων σε αντίστροφη μέτρηση. Ο συμμετέχων από τη στιγμή που θα μεταβεί στην επόμενη ερώτηση (τέλος χρόνου ή επιλογή επόμενης ερώτησης) δεν θα μπορεί να επιστρέψει στην προηγούμενη. Μόλις ο χρήστης απαντήσει και στις 10 ερωτήσεις θα βλέπει το σύνολο των σωστών απαντήσεων που πέτυχε. π.χ. «Απάντησες σωστά σε 8 από τις 10 ερωτήσεις». Οι σωστές απαντήσεις θα ανακοινωθούν στα intranets μετά τη λήξη του Διαγωνισμού.</p>
			<p><b><u>Ανάδειξη νικητών.</u></b> Μετά τη λήξη του διαγωνισμού θα πραγματοποιηθεί κοινή κλήρωση για όλους όσους έχουν απαντήσει σωστά, που θα διενεργηθεί την Πέμπτη 26 Νοεμβρίου 2015 στα γραφεία της Εσωτερικής Επικοινωνίας ομίλου ΟΤΕ (μέγαρο ΟΤΕ, 12Β), παρουσία εκπροσώπων του HR και των Συλλόγων Εργαζομένων.</p>
			<p>Στην κλήρωση για τα δώρα, θα συμμετέχουν όσοι έχουν απαντήσει σωστά σε όλες τις ερωτήσεις. Αν ο αριθμός των συμμετεχόντων που έχουν απαντήσει σωστά σε όλες τις ερωτήσεις είναι μικρότερος από το αριθμό των δώρων, τότε στη κλήρωση θα συμμετέχουν και όσοι έχουν απαντήσει σωστά στον αμέσως μικρότερο αριθμό σωστών απαντήσεων.</p>
			<p><b><u>Δώρα:</u></b> Στο πλαίσιο του Διαγωνισμού έχει προγραμματιστεί να δοθούν τα ακόλουθα 120 δώρα (εφεξής τα <b>«Δώρα»</b>):</p>
			<table>
				<thead>
					<tr><th class="rank">Νικητές</th><th class="gift">Δώρο</th><th class="number">Αριθμός δώρων</th></tr>
				</thead>
				<tbody>
					<tr><td class="rank">1ος νικητής</td><td class="gift">TABLET: Samsung Galaxy tab s2 9.7 4g </td><td class="number">1</td></tr>
					<tr><td class="rank">2ος νικητής</td><td class="gift">TABLET: Apple ipad mini 3  4g </td><td class="number">1</td</tr>
					<tr><td class="rank">3ος νικητής</td><td class="gift">MOBILE PHONE: Sony Xperia Z3 compact 8.0 4g </td><td class="number">1</td></tr>
					<tr><td class="rank">4ος νικητής - 5ος νικητής</td><td class="gift">MOBILE PHONE: Samsung galaxy A5 </td><td class="number">2</td></tr>
					<tr><td class="rank">6ος νικητής - 10ος νικητής</td><td class="gift">WATCH: FITBIT Activity tracker flex </td><td class="number">5</td></tr>
					<tr><td class="rank">11ος νικητής - 15ος νικητής</td><td class="gift">WATCH:GARMIN Activity tracker vivofit2</td><td class="number">5</td></tr>
					<tr><td class="rank">16ος νικητής - 30ος νικητής</td><td class="gift">PLAYER: SFP 6060 SPORT CLIP (mp3, mpg4 player)</td><td class="number">15</td></tr>
					<tr><td class="rank">31ος νικητής - 45ος νικητής</td><td class="gift">POWER BANK: INTENSO 10400mah </td><td class="number">15</td></tr>
					<tr><td class="rank">46ος νικητής - 60ος νικητής</td><td class="gift">POWER BANK: INTENSO 5200mah</td><td class="number">15</td></tr>
					<tr><td class="rank">61ος νικητής - 70ος νικητής</td><td class="gift">CHARGER: YAT 202 Universal Travel USB</td><td class="number">10</td></tr>
					<tr><td class="rank">71ος νικητής - 120ος νικητής</td><td class="gift">COSMOTE - TEDDY BEARS LARGE</td><td class="number">50</td></tr>
				</tbody>
			</table>
			<p>Τα ονόματα των νικητών θα αναρτηθούν στο Mikrocosmo και στο ULink. Θα κληρωθούν πέντε (5) αναπληρωματικοί (συνολικά για όλες κατηγορίες) σε περίπτωση που κάποιος νικητής δεν μπορεί ή δεν θέλει να παραλάβει το δώρο του.</p>
			<p>Οι νικητές θα ειδοποιηθούν μέσω e-mail και θα πρέπει να παραλάβουν το δώρο τους από την Υποδ/νση Εσωτερικής Επικοινωνίας. Μέχρι τη Δευτέρα 11 Ιανουαρίου 2016. </p>
			<p>Μετά το πέρας της ημερομηνίας παραλαβής και αποδοχής των Δώρων (μετά τις 11/01/2016), οποιαδήποτε ευθύνη του ΟΤΕ και της COSMOTE και ιδίως της Διεύθυνσης Εταιρικής Επικοινωνίας Ομίλου ΟΤΕ, παύει να υφίσταται. Επίσης  για οποιοδήποτε πρόβλημα προκύψει κατά την λειτουργία -, χρήση των Δώρων,  οι νικητές θα πρέπει να απευθύνονται αποκλειστικά στην κατασκευάστρια εταιρεία αυτών.</p>
			<p>Οι νικητές των δώρων που βρίσκονται στο Διοικητικό Μέγαρο Λ. Κηφισίας 99, οφείλουν να έρθουν και να παραλάβουν το δώρο τους εντός του παραπάνω προκαθορισμένου χρόνου. Στους νικητές των δώρων που βρίσκονται στα υπόλοιπα κτήρια του Ομίλου ΟΤΕ, εκτός του Διοικητικού Μεγάρου, τα δώρα θα σταλούν με αλληλογραφία.</p>
			<p>Ο ΟΤΕ και η COSMOTE επιφυλάσσονται του  δικαιώματός τους να μεταβάλουν κάθε λεπτομέρεια, ουσιώδη ή μη του Δώρου και της διάθεσής του  και να τροποποιήσουν ή να ακυρώσουν τον Διαγωνισμό. Τυχόν αλλαγές θα γνωστοποιούνται μόλις αυτό καταστεί αντικειμενικά εύλογα δυνατόν.</p>
			<p><b>Αποδοχή Όρων:</b> Η συμμετοχή στο Διαγωνισμό σημαίνει τη ρητή αποδοχή των παρόντων όρων στο σύνολό τους , όπως αυτοί θα βρίσκονται αναρτημένοι στο site συμμετοχής στο  Διαγωνισμό.</p> 
		</div>
	</div>
</div>