<div class="full-container" id="question-main-container">
    <div class="mainGameContainer">
        <div id="question-icon" align="center">
            <div class="iconContainer">
                <img ng-src="{{icon_url}}"/>
            </div>
        </div>
        <div id="question-and-answer">
            <div id="answers">
                <div id="question-and-timer">
                    <div class="questionContainer">
                        {{question.question}}
                    </div>
                </div>
                <div align="center">
                    <div class="answer" ng-repeat="answer in question.answers" id="answer{{$index}}">
                        <label ng-click="setSelected(answer,$index)"><input type="radio" name="answer"
                                                                            ng-model="user_answer"
                                                                            value="anwser.answer">{{answer.answer}}</label>
                    </div>
                </div>
            </div>
            <div id="nextQuestionFinal" class="main-button" ng-click="selectAnswer()">Συνέχεια</div>
        </div>
    </div>
</div>