<div id="score-container" class="full-container">
    <div class="score">
        <div class="current-score">
            Απάντησες σωστά
            <h1>
                <span>{{score}}/4</span>
            </h1>
            ερωτήσεις
        </div>
        <div id="previousScores" ng-show="bestScores.length>0">
            Τα 3 μεγαλύτερα σου σκορ είναι:<br/>

            <span ng-repeat="prevscore in bestScores track by $index"> <span ng-show="$index>0">, </span>{{prevscore}}/4</span>
        </div>
        <div id="previousScores" ng-show="bestScores.length<1">
            Ευχαριστούμε για την συμμετοχή σου <br/>
        </div>
        <div class="score-actions">{{createUserError}}
            <div ng-show="createUserError" class="error-message">Κάποιο πρόβλημα προέκυψε. Παρακαλούμε δοκιμάστε να αποστείλετε τα στοιχεία σας λίγο αργότερα</div>
            <div ng-click="restartGame()" class="main-button play-again">Παίξε ξανά</div>
            <div ng-show="!createUserError" ng-click="finishGame()" class="main-button continue">Συνέχεια</div>
            <div ng-show="createUserError" ng-click="getScores()" class="main-button continue">Αποστολή ξανα</div>
        </div>
    </div>
</div>