.answer input {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    box-shadow: initial;
    padding: initial;
    border-radius: initial;
    display: initial;
    position: initial;
    outline: none;
    margin-right: initial;
    margin-top: initial;
    vertical-align: text-bottom;
}

#question-and-answer {
    margin-top: 5%;
    margin-bottom: 20px;
    border: 2px solid #375267;
    border-radius: 10px;
    padding: 5% 20%;
    background: url(../images/transparent_bg.png);
}

#home-container {
    background: url(../images/home-back.jpg) center no-repeat;
    background-size: cover;
    -ms-behavior: url(/styles/backgroundsize.min.htc);
}

#question-main-container {
    background: url(../images/home-back.jpg) center no-repeat;
    background-size: cover;
    -ms-behavior: url(/styles/backgroundsize.min.htc);
}

#categories-main-container {
    background: url(../images/home-back.jpg) center no-repeat;
    background-size: cover;
    -ms-behavior: url(/styles/backgroundsize.min.htc);
}

#personalInfo-container {
    background: url(../images/info-back.jpg) center no-repeat;
    background-size: cover;
    -ms-behavior: url(/styles/backgroundsize.min.htc);
}

#finished-container {
    background: url(../images/last-screen.jpg) center no-repeat;
    background-size: cover;
    -ms-behavior: url(/styles/backgroundsize.min.htc);
}

#score-container {
    color: #fff;
    background: url(../images/score.jpg) center no-repeat;
    background-size: cover;
    -ms-behavior: url(/styles/backgroundsize.min.htc);
}

.disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    pointer-events: none;
}

.disabled > * {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    pointer-events: none;
}

.category-btn {
    max-width: 128px;
    color: #fff;
    background-color: transparent;
    line-height: normal;
    white-space: normal;
}

.iconContainer {
    background: url(../images/transparent_bg.png);
    background-size: cover;
    -ms-behavior: url(/styles/backgroundsize.min.htc);
}
