#welcome-message,
body {
    font-family: Arial, sans-serif
}

#welcome-message input[type=text].custom-placeholder,
.personalInfo-div form input.custom-placeholder {
    color: #9B9B9C
}

.ng-hide {
    display: none !important
}

#answers .answer .badge,
#answers .answer .theanswer,
#timer {
    display: inline-block;
    vertical-align: middle
}

.modal {
    background: url(../images/white-transparency.png);
    z-index: 9999;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    height: 100%
}

.modal .modal-wrapper {
    top: 20%;
    color: #fff;
    padding: 40px;
    margin: 0 auto;
    background: #fff;
    max-width: 30%;
    height: 350px;
    position: relative;
    min-width: 280px;
}

.modal .close-button {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px
}

.modal .modal-wrapper ul {
    list-style: none;
    padding: 0
}

.modal.info-modal {
    text-align: left
}

.modal.info-modal .modal-wrapper ul {
    list-style: disc;
    padding: 0 0 0 20px;
    margin: 15px 0
}

body {
    width: 100%;
    padding: 0;
    margin: 0
}

.content-container {
    position: relative;
    width: 100%
}

.content-container > div {
    height: 100%;
    position: absolute;
    width: 100%;
    background: url(../images/home-back.jpg) center no-repeat;
    background-size: cover;
}

.content-container > div > .container,
.content-container > div > .container > question-dir,
.full-container {
    min-height: 100%;
    position: absolute;
    width: 100%
}

#home-container {
    background: url(../images/home-back.jpg) center no-repeat;
    background-size: cover
}

#question-main-container {
    background: url(../images/home-back.jpg) center no-repeat;
    background-size: cover
}

.category-container {
    background: url(../images/home-back.jpg) center no-repeat;
    background-size: cover;
}

#categories-main-container {
    background-color: rgba(55, 82, 103, 0.5);
}

#personalInfo-container {
    background: url(../images/info-back.jpg) center no-repeat;
    background-size: cover
}

#finished-container {
    background: url(../images/last-screen.jpg) center no-repeat;
    background-size: cover
}

#finished-container .finised-div {
    width: 490px;
    max-width: 90%;
    margin: 5% auto 0;
    text-align: center;
    font-size: 19px;
    line-height: 30px;
    padding: 10px 25px;
    margin-top: 3%;
    margin-bottom: 20px;
    border: 2px solid #375267;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    color: #375267;
}

#finished-container .finised-div h3 {
    border-bottom: 1px solid #aec6de;
    padding-bottom: 20px;
    font-size: 24px
}

#welcome-message > span.error-message,
.personalInfo-div span.error-message,
div.score-actions > div.error-message {
    color: red;
    font-size: 15px
}

.personalInfo-div {
    max-width: 660px;
    text-align: center;
    margin: 5% auto 0
}

.personalInfo-div span {
    color: #fff;
    font-size: 22px;
    padding: 0 10px
}

.personalInfo-div form {
    width: 375px;
    max-width: 90%;
    margin: 20px auto 0
}

.personalInfo-div form input {
    width: 96%;
    background: #fff;
    color: #000;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 2%;
    border: 1px solid #d0d2d4;
    margin: 10px 0
}

#finished-container .finised-div a.main-button,
#finished-container .finised-div div.main-button,
.info-modal a.main-button,
.personalInfo-div a.main-button,
.personalInfo-div div.main-button {
    width: 170px;
    display: inline-block;
    vertical-align: middle;
    height: 55px;
    line-height: 55px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
    background: url(../images/green-button.png) center no-repeat;
    color: #fff;
    padding: 0;
    text-decoration: none;
    border-radius: 5px;
}

.personalInfo-div a.main-button {
    float: right
}

.ote-icon {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 30px;
    text-align: right;
    z-index: 2;
}

.ote-icon > div {
    /*max-width: 1024px;*/
    margin: 0 auto;
    padding: 0 20px;
}

#question-and-answer {
    margin-top: 3%;
    margin-bottom: 20px;
    border: 2px solid #375267;
    border-radius: 10px;
    padding: 5% 20%;
    background-color: rgba(255, 255, 255, 0.75);
}

div#question-and-timer {
    text-align: center;
}

.mainGameContainer {
    max-width: 1000px;
    color: #fff;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 93px;
    background: #fff
}

.header .header-inner {
    /*max-width: 1024px;*/
    margin: 0 auto
}

.header #logo {
    margin: 15px 10px
}

.progress-badge {
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    padding: 1px 5px
}

.progress-badge-current {
    border-radius: 50%;
    border: 1px solid #fff;
    background: #fff;
    color: #bef56e;
    padding: 1px 5px
}

#time-left-timer-chart {
    height: auto !important;
    width: 100% !important
}

#timer {
    width: 24%;
    position: relative
}

#answers {
    color: #fff;
    width: 100%
}

#answers .answer {
    width: auto;
    color: #375267;
    display: inline-block;
    font-size: 21px;
    margin: 5px 30px;
    text-align: center;
}

.answer input {
    -webkit-appearance: none;
    background-color: #375267;
    border: 1px solid #375267;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    outline: none;
    margin-right: 10px;
    vertical-align: text-bottom;
    margin-top: 6px;
}

.answer input:checked:after {
    content: ' ';
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    background: #fff;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-shadow: 0px;
    left: 5px;
    font-size: 29px;
}

.answer input:checked {
    background-color: #375267;
    color: #fff;
    border: 1px solid #375267;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#answers .answer .badge {
    width: 45px;
    line-height: 38px;
    height: 100%;
    text-align: center;
    border-right: 1px solid #fff;
    font-size: 22px
}

#answers .answer .theanswer {
    padding: 2px 0;
    text-align: center;
    width: 90%;
    line-height: 22px
}

.shadow {
    background: url(../images/shadow.png) center no-repeat;
    height: 5px;
    width: 100%;
    position: absolute;
    z-index: 9
}

#nextQuestion,
#nextQuestionFinal {
    margin: 40px auto 0;
    width: 210px;
    text-align: center;
    display: block;
    cursor: pointer;
    background: url(../images/next-question.png) center bottom no-repeat;
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
    height: 35px;
    color: #585858
}

#nextQuestion.button-enabled,
#nextQuestionFinal.button-enabled {
    background-position: center top;
    color: #fff
}

.timer {
    position: relative
}

#secondsRemaining {
    font-size: 47px;
    line-height: 48px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -24px;
    width: 100%;
    text-align: center
}

.questionContainer {
    width: 75%;
    display: inline-block;
    vertical-align: middle;
    color: #375267;
    text-align: center;
    font-size: 23px;
    line-height: 28px
}

.questionContainer .question-number {
    margin-bottom: 6px
}

.questionContainer span {
    font-weight: 700
}

#score-container {
    color: #fff;
    /*background: url(../images/score.jpg) center no-repeat;*/
    background-size: cover
}

#home-container .home-inner {
    max-width: 1024px;
    margin: 0 auto
}

.score {
    width: 530px;
    max-width: 90%;
    text-align: center;
    margin: 5% auto 0;
    background: url(../images/white-trans.png)
}

.score .current-score {
    color: #2263A8;
    font-size: 27px;
    padding: 20px 0
}

.score h1 {
    font-size: 85px;
    margin: 0;
    font-weight: 400
}

.score #previousScores {
    background: url(../images/previous-scores.png) center no-repeat;
    height: 80px;
    padding: 40px 10px;
    font-size: 22px;
    position: relative;
    z-index: 2
}

.score .score-actions {
    padding: 45px 0 30px;
    margin-top: -30px;
    position: relative;
    z-index: 1;
    background: #fcfcfc
}

.score .score-actions a {
    width: 135px;
    display: inline-block;
    margin: 0 10px 10px;
    padding: 0 30px 0 0;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700
}

.score .continue,
.score .play-again {
    width: 115px;
    padding: 20px 40px 20px 10px;
    display: inline-block;
    cursor: pointer
}

.score .play-again {
    background: url(../images/play-again.png) center no-repeat;
    margin-right: 40px
}

.score .continue {
    background: url(../images/continue.png) center no-repeat;
    color: #58585B
}

.roundedButton {
    white-space: nowrap;
    border-radius: 28px;
    padding: 10px 20px
}

.playAgainButton {
    background: -webkit-linear-gradient(#003d00, #0f0);
    color: #fff;
    box-shadow: 5px 5px 5px #888;
    font-size: 15px;
    border: 4px solid #fff
}

.progressContainer {
    font-weight: 700;
    text-align: center;
    letter-spacing: -2px;
    padding: 5px 0;
    width: 100%;
    height: 20px;
    color: #fff;
    background: linear-gradient(to left, #4e9d49, #bef56e)
}

#welcome-message {
    font-size: 16px;
    color: #fff;
    padding: 50px;
    text-align: left;
    max-width: 485px
}

#welcome-message * {
    margin-top: 15px
}

#welcome-message h2,
#welcome-message h3 {
    font-size: 23px
}

#welcome-message a,
#welcome-message a:hover,
#welcome-message a:visited {
    color: #fff
}

#welcome-message div.second {
    padding-bottom: 20px
}

#welcome-message span.third {
    font-size: 15px;
    line-height: 20px
}

#welcome-message input[type=text] {
    background: #fff;
    max-width: 96%;
    color: #000;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 5px;
    border: 1px solid #d0d2d4
}

#welcome-message .main-button {
    width: 170px;
    display: inline-block;
    vertical-align: middle;
    height: 55px;
    line-height: 55px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    margin-top: 0
}

#welcome-message .main-button#submit-button {
    background: url(../images/green-button.png) center no-repeat;
    margin-right: 30px
}

#welcome-message .main-button#gifts-button {
    background: url(../images/gray-button.png) center no-repeat;
    color: #58585B
}

#welcome-message label {
    font-size: 12px
}

#welcome-message label a {
    cursor: pointer;
    text-decoration: underline
}

.main-button {
    width: 45%;
    padding: 10px 0
}

.button-left {
    float: left
}

.button-right {
    float: right
}

#gifts-page,
#terms-page {
    background: #2164aa;
    min-height: 100%
}

#gifts-page div.gifts-content,
#terms-page div.terms-content {
    max-width: 1024px;
    margin: 0 auto;
    color: #fff;
    position: relative;
    padding: 50px 0
}

#terms-page div.terms-content table td,
#terms-page div.terms-content table th {
    padding: 5px;
    border: 1px solid #fff
}

#terms-page div.terms-content table td.number,
#terms-page div.terms-content table th.number {
    text-align: center
}

#gifts-page div.gifts-content .gifts-close,
#terms-page div.terms-content .terms-close {
    position: absolute;
    right: 0;
    top: 50px;
    cursor: pointer
}

#gifts-page div.gifts-content .gifts-title {
    margin-bottom: 40px
}

#gifts-page div.gifts-content .gift-item {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-bottom: 35px
}

#gifts-page div.gifts-content .gift-item .gift-img {
    width: 140px;
    max-width: 35%;
    height: auto;
    border-radius: 70px;
    overflow: hidden;
    background: #fff;
    margin-right: 3%;
    display: inline-block;
    vertical-align: middle
}

#gifts-page div.gifts-content .gift-item .gift-desk {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    line-height: 26px
}

#gifts-page div.gifts-content .gift-item .gift-img img {
    max-width: 100%
}

#gifts-page div.gifts-content .gift-item-odd {
    margin-right: 5%
}

#basic-modal-content {
    display: none
}

#simplemodal-overlay {
    background-color: #fff
}

#simplemodal-container {
    min-height: 250px;
    width: 650px;
    color: #fff;
    background-color: #2164aa;
    border: 4px solid #2164aa;
    padding: 30px;
    max-width: 80%
}

#simplemodal-container h3 {
    margin-top: 0;
    color: #fff
}

#simplemodal-container .simplemodal-data {
    padding: 8px
}

#simplemodal-container code {
    background: #141414;
    border-left: 3px solid #65B43D;
    color: #bbb;
    display: block;
    font-size: 12px;
    margin-bottom: 12px;
    padding: 4px 6px 6px
}

#simplemodal-container a {
    color: #ddd
}

#simplemodal-container a.modalCloseImg {
    background: url(../images/close.png) no-repeat;
    width: 23px;
    height: 23px;
    display: inline;
    z-index: 3200;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer
}

::-webkit-input-placeholder {
    font-size: 8pt;
    color: #b1b1b3
}

::-moz-placeholder {
    font-size: 8pt;
    color: #b1b1b3
}

:-ms-input-placeholder {
    font-size: 8pt;
    color: #b1b1b3
}

:-moz-placeholder {
    font-size: 8pt;
    color: #b1b1b3
}

.thumbnail {
    display: inline-block;
    margin: 80px 0 0 0;
    line-height: 10;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 80px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    width: 150px;
    height: 150px;
    vertical-align: top;
}

.category-btn {
    color: #fff;
    background-color: transparent;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12pt;
    font-weight: bold;
    line-height: 5px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.category-thumbnails {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 22%;
    overflow: hidden;
    display: inline-block;
}

.thumbnail .caption {
    padding: 9px;
    color: #333;
}

.thumbnail img {
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    max-width: 128px;
    display: block;
    overflow: hidden;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.disabled > * {
    opacity: 0.5;
    pointer-events: none;
}

button:disabled {
    border: none;
    background: transparent;
}

.modal-content {
    color: #375267;
}

.categories-header {
    color: #fff;
    margin-top: 180px;
    text-align: center;
    font-size: 1.5em;
}

.iconContainer {
    display: inline-block;
    margin-top: 50px;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.75);;
    border: 1px solid #ddd;
    border-radius: 80px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    width: 150px;
    height: 150px;
    position: relative;
}

.iconContainer img {
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    max-width: 128px;
    display: block;
    overflow: hidden;
    clear: both;
    position: absolute;
}

.left-artwork {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    height: auto;
}

.left-artwork img {
    vertical-align: bottom;
}

.right-artwork {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: auto;
}

.thumbnail-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

@media all and (max-width: 1100px) {
    #answers .answer .theanswer {
        padding: 2px 0;
        width: 84%
    }

    #secondsRemaining {
        font-size: 35px
    }
}

@media all and (max-width: 700px) {
    .ote-icon {
        display: none
    }

    #answers .answer .theanswer {
        padding: 2px 0;
        width: 80%
    }
}

@media all and (max-width: 620px) {
    #answers .answer .theanswer {
        padding: 2px 0;
        width: 70%
    }
}

@media all and (max-width: 560px) {
    #timer {
        width: 50%;
        margin: 0 auto 15px;
        display: block;
        height: 40px
    }

    .questionContainer {
        width: 100%
    }
}

@media all and (max-width: 450px) {
    #answers .answer .theanswer {
        padding: 2px 0;
        width: 64%
    }
}